@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Poppins:wght@800&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  flex-wrap: wrap;
  text-decoration: none;
}
.M-Head {
  box-shadow: 0px -3px 20px rgba(86, 237, 233, 211);
  position: sticky;
  top: 0px;
  background: linear-gradient(
    to right,
    rgba(15, 13, 22, 255),
    rgba(26, 21, 39, 255),
    rgba(15, 13, 22, 255)
  );
}
.Head-Box {
  display: flex;
  justify-content: space-between;
}
#M-Logo {
  height: 80px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  left: 25px;
}
.Menu {
  list-style-type: none;
  display: flex;
  gap: 30px;
  position: relative;
  right: 10%;
  top: 10%;
}
#M-SYMB,
#M-TXT {
  color: grey;
  font-size: 15px;
  font-family: "dosis";
  font-weight: bold;
  transition: 0.5s;
}
#M-TXT:hover {
  color: rgb(192, 192, 192);
  font-size: 19px;
  transition: 0.5s;
}
#M-TXT:active {
  color: #fff;
  font-size: 19px;
  transition: 0.5s;
}
.Main-content {
  width: 100%;
  height: 200px;
  background-color: rgba(15, 13, 22, 255);
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background: linear-gradient(
    to right,
    rgba(15, 13, 22, 255),
    rgba(26, 21, 39, 255),
    rgba(15, 13, 22, 255)
  );
  box-shadow: 0px 3px 20px rgba(86, 237, 233, 211);
  color: #fff;
  font-size: 10px;
  font-family: "dosis";
}
@media(width < 850px){
  .Menu-Box{
    display: none;
  }
}