@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Poppins:wght@800&display=swap");
#about {
  padding-top: 25px;
  text-align: center;
  font-family: dosis;
  font-weight: bolder;
  color: rgb(147, 100, 176);
  line-height: 35px;
}
#about img {
  height: 450px;
  border-radius: 25px;
  margin: 25px 0px;
}
#cv-btn {
  font-size: 25px;
  border: solid 2px black;
  border-radius: 25px;
  padding: 10px;
  background-color: rgba(15, 13, 22, 255);
  color: #fff;
}
.container-gallery {
  padding-top: 30px;
  width: 50%;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
}
.card {
  height: 300px;
  width: 200px;
  margin: 20px;
  box-shadow: 5px 5px 15px grey;
  border-radius: 10px;
}
#contact {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 14, 32);
  font-family: dosis;
}
#contact img {
  position: relative;
  left: 250px;
  rotate: -40deg;
  height: 350px;
}
#contact-data {
  position: relative;
  right: 250px;
  top: 100px;
}
